@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>


<p>Yao's news institution website is used to manage the records of journalists and</p>
<p>articles of Australia Monash university, This news institution has 5 different</p>
<p>departments: business, social, sports, arts, science, it will expand to more</p>
<p>areas in the future such as international, finacial, lifestyle, etc.</p>