@{
    ViewBag.Title = "Documentation";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>Student: Yite Yao</p>
<p>Student ID: 28451341</p>
<p>Fit5032 Internet Application Development</p>
<p>Monash University, The caulfield School of Information Technology</p>
<p>Fit5032 Internet Application Development</p>
<p>Task number: Fit5032 Credit task</p>
<p>Tutor name: Weng Pang</p>
<p><a href="mailto:yyao0007@student.monash.edu">Email: yyao0007@student.monash.edu</a></p>
<a href="http://moodle.vle.monash.edu/mod/page/view.php?id=4154651">Task Specification</a>

