
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("button").click(function(){
        $("#div1").fadeIn("slow");
        $("#div2").fadeIn("slow");
        $("#div3").fadeIn("slow");
    });
});
</script>


<h2>FAQ</h2>

<button class="btn btn-primary btn-info">Click to see FAQ.</button><br><br>

<div id="div1" style="width:auto;height:auto;display:none;background-color:azure;">
    <p>What can i do with this website?</p>
    <p>You can Create, edit, delete and check the detail of Journalists and articles.</p>
</div><br>
<div id="div2" style="width:auto;height:auto;display:none;background-color:azure;">
    <p>How to use the CRUD funtion of this website?</p>
    <p>Under the dropdownlist of journaist and articles, select the Journalist list or article list</p>
    <p>to read data, select create record to create new journalist or article record, under the </p>
    <p>list, you can find the edit, delete and detail button.</p>
</div><br>
<div id="div3" style="width:auto;height:auto;display:none;background-color:azure;">
    <p>How to contact the website owner?</p>
    <p>On the documentation page(on main page), you can find the owner's email address.</p>
</div>


