@*Author:Yite Yao
    Student ID:28451341*@
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:lightgrey;">
    <h1>Yao's News Institution</h1>
    <p class="lead">Yao's news Institution provide a web application manage all journalist and articles record of Monash university</p>
    <img src="~/Content/yao's logo.PNG" />
    <p>                                                                                                     </p>
    <p><a href="/Home/about" class="btn btn-info" style="font-size:large">Learn more &raquo;</a></p>
</div>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>Company History</h2>
            <h4>Yao's news institution is founded on 2010, more infomation please click the button below.</h4>
            <p></p>
            <a href="/Home/OurHistory" class="btn btn-info" style="font-size:large">Learn more &raquo;</a>
        </div>
        <div class="col-sm-4" style=" text-align center; margin 25px 0;">
            <span class="glyphicon glyphicon-time logo" style="font-size:200px"></span>
        </div>
    </div>
</div>
<hr />
<div class="container-fluid" style="background-color:lightgray">
    <div class="row">
        <div class="col-sm-4" style=" text-align center; margin 25px 0;">
            <span class="glyphicon glyphicon-question-sign logo" style="font-size:200px"></span>
        </div>
        <div class="col-sm-8">
            <h2>FAQ</h2>
            <p>Find out more information of frequent asked questions</p>
            <a href="/Home/FAQ" class="btn btn-info" style="font-size:large">Learn more &raquo;</a>
        </div>
    </div>
</div>
<hr />
<h2>What our customers say</h2>

<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <h4 style="font-size: 19px;line-height: 1.375em;font-weight: 400;font-style: italic;margin: 70px 0;">
                "This website is the best!!!"
                <br>--John Smith
            </h4>
        </div>
        <div class="item">
            <h4 style="font-size: 19px;line-height: 1.375em;font-weight: 400;font-style: italic;margin: 70px 0;">
                "Good, simple, easy to use."
                <br>--Harry Wang
            </h4>
        </div>
        <div class="item">
            <h4 style="font-size: 19px;line-height: 1.375em;font-weight: 400;font-style: italic;margin: 70px 0;">
                "Could I... BE any more happy with this website?"
                <br>--Cindy Johnson
            </h4>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<hr />
<h2>Company Location</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1574.642704565131!2d145.04317295818078!3d-37.877007577784745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6698cb33e0ac1%3A0x63f9134ad6bf7a0a!2sMonash+University%2C+Caulfield+Campus!5e0!3m2!1sen!2sau!4v1503570940814" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>