
@{
    ViewBag.Title = "OurHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OurHistory</h2>
<p>Yao's news institution is founded by Mr Yite Yao in 2010, This web application is developped</p>
<p>by using microsoft .net framework, after 7 years of operating, this website become one of the</p>
<p>best online news dataase.</p>


